.content{
    height: 640px;
    width: 100%;
    margin-top: 0%;
}

.form{
    height: 600px;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.707);
    position: absolute;
    top: 10%;
}

img{
  width: 100%;
  background-position: cover;
}

/* Small device */
@media only screen and (max-width : 600px){
    .form{
        height: 600px;
        width: 90%;
        background-color: rgba(0, 0, 0, 0.707);
        margin-left: 5%;
        margin-top: 5%;
    }

    .content{
        height: 530px;
        width: 100%;
        margin-top: 0%;
    }

    img{
      width: 100%;
      height: 700px;
      background-position: cover;
    }

    .footer-section {
      background: #3f3f3f;
      position: relative;
      margin-top: 50%;
      }

}

/* Exra Small device */
@media only screen and (min-width : 600px){
    .form{
        height: 600px;
        width: 30%;
        background-color: rgba(0, 0, 0, 0.707);
        margin-left: 35%;
    }
}

.a{
    height: 50px;
    width: 80%;
    background-color: rgba(248, 242, 242, 0.779);
    text-align: center;
    margin-left: 10%;
    font-weight: 500;
    font-size: larger;
    color: #3f4b58;
    border-radius: 5px;
    position: absolute;
    font-family: sans-serif;
    top: 25%;
  }

  .b{
    height: 50px;
    width: 80%;
    background-color: rgba(248, 242, 242, 0.779);
    text-align: center;
    margin-left: 10%;
    font-weight: 500;
    font-size: larger;
    color: #3f4b58;
    border-radius: 5px;
    position: absolute;
    font-family: sans-serif;
  }

  /* CSS */
.button-42 {
  background-color: initial;
  background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  height: 45px;
  width: 40%;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
  margin-left: 30%;
}

.button-42:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

  header{
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 540;
  font-size: 250%;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  }

  *{
    margin:0;
    padding:0;
    font-family: 'poppins', sans-serif;
}

.head{
    height:50px;
    width:100%;
    color:#fff ;
    box-sizing: border-box;
    box-shadow: 0 2px 3px rgba(26, 22,22,0.499);
}

.icon-header{
    font-weight: 800;
    text-shadow: 0 2px 3px black;
}

li { 
    display: table-cell; 
    position: relative; 
  }
.lia {
    text-decoration: none;
    display: inline-block;
    position: relative;
  }

.lia:hover:after{
    width: 100%; 
    left: 0; 
}

.lia:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.f{
    height: 55px;
    width:100%;
    margin-top: 0%;
  }
  
  ul {
    margin: 0px;
    padding: 0px;
  }
  .footer-section {
  background: #3f3f3f;
  position: relative;
  }
  .footer-cta {
  border-bottom: 1px solid #373636;
  }
  .single-cta i {
  color: #E62C03;
  font-size: 30px;
  float: left;
  margin-top: 8px;
  }
  .cta-text {
  padding-left: 15px;
  display: inline-block;
  }
  .cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
  }
  .cta-text span {
  color: #757575;
  font-size: 15px;
  }
  .footer-content {
  position: relative;
  z-index: 2;
  }
  .footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
  }
  .footer-logo {
  margin-bottom: 30px;
  }
  .footer-logo img {
    max-width: 200px;
  }
  .footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
  }
  .footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  }
  .footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
  }

  .boxf{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  }
  .facebook-bg{
  background: #3B5998;
  }
  .twitter-bg{
  background: #55ACEE;
  }
  .google-bg{
  background: #DD4B39;
  }
  .instagram-bg{
  background: #d839ddd1;
  }
  .footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
  }
  .footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #E62C03;
  }
  .footer-widget ul li {
  display: inline-block;
  float : left;
  width: 50%;
  margin-bottom: 12px;
  }
  .footer-widget ul li a:hover{
  color: #E62C03;
  }
  .footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
  }
  .subscribe-form {
  position: relative;
  overflow: hidden;
  }
  .subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
  }
  .subscribe-form button {
    position: absolute;
    right: 0;
    background: #E62C03;
    padding: 13px 20px;
    border: 1px solid #E62C03;
    top: 0;
  }
  .subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
  }
  .copyright-area{
  background: #2E2E2E;
  padding: 15px 0;
  }
  .copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
  }
  .copyright-text p a{
  color: #E62C03;
  }
  .footer-menu li {
  display: inline-block;
  margin-left: 20px;
  }
  .footer-menu li:hover a{
  color: #E62C03;
  }
  .footer-menu li a {
  font-size: 14px;
  color: #878787;
  }
  